/*
CORES #020301   #F8FDFF   #B7C1C2    #E80028  #262D38
       escuro    claro     cinza      red       CINZA ESC
*/


header {
    width: 100%;
    background-color: #262D38;
    padding: 5px 15px;
}

nav{
   display: flex;
   justify-content: center;
}

body {
    background-color: #F8FDFF;
}

h1 {
    color: #020301;
    text-align: center;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    display: inline-block;

}

li a {
    text-decoration: none;
    color: #F8FDFF;
    background-color: #262D38;
    padding: 5px 15px;
    margin-bottom: 1px;
    margin-left: -5px;

}

li a:hover {
    background-color: #020301;
}

label {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;

}

input[type="text"]  {
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
}

input[type="button"]  {
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
    margin: 10 auto;
    width: 25%;
}

footer {
    position: absolute;
    bottom: 5px;
    width: 99%;
    margin-top: 10px;
    font-size: 75%;
    text-align: center;
}
